@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body{
    background-color: #080808;
    color: #fff;
    font-family: "Lilita One", sans-serif;

}
#header{
    padding: 20px;
    margin: 20px;
    transition: ease-in;

}
img{
    height: 100%;
}

nav ul li{
    display: inline;
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}
nav>ul>li, a{
    text-decoration: none;
    color: #fff;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 10px;
    border-radius: 20px 20px;
}
nav> ul{
    float: right;
    display: flex;
}
nav{
    height: 120px;
    width: 100%;
    margin: auto;
}
li:hover{
    background-color: #4cd5aa;
    transform: scale(120%);
}




#avatar img {
    --s: 280px;
    --b: 5px;
    --c: #4cd5aa;
    --f: 1;

    width: var(--s);
    aspect-ratio: 1;
    cursor: pointer;
    padding-top: calc(var(--s)/5);
    border-radius: 0 0 999px 999px;
    --_g: 50%/calc(100%/var(--f)) 100% no-repeat content-box;
    --_o: calc((1/var(--f) - 1)*var(--s)/2 - var(--b));

    outline: var(--b) solid var(--c);
    outline-offset: var(--_o);
    background: radial-gradient(circle closest-side,
            #4cd5aa9d calc(99% - var(--b)), var(--c) calc(100% - var(--b)) 99%, #0000) var(--_g);
    -webkit-mask:
        linear-gradient(#000 0 0) no-repeat 50% calc(1px - var(--_o)) / calc(100%/var(--f) - 2*var(--b) - 2px) 50%,
        radial-gradient(circle closest-side, #000 99%, #0000) var(--_g);
    transform: scale(var(--f));
    transition: .5s;
}

#avatar img:hover {
    --f: 1.35;
}
#avatar {
    display: flex;
    justify-content: center;
}
#header{
    display: flex;
    justify-content: center;
    font-size: 39px;

}
#buttons{
    color:  #4cd5aa;
    display: flex;
    justify-content: center;

}



    
  

